<form class="search-form" id="search-form">
  <input class="search-input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Що шукаємо?..."
  />
  <button class="search-btn" type="submit">Поїхали!</button>
  </form>
  
<input type="checkbox" class="checkbox" id="checkbox" />
  <label for="checkbox" class="checkbox-wrapper">Змінити тему сторінки</label>


  <div class="container">
    <ul class="gallery"></ul>
      <!-- Картки зображень -->
    <button type="button" class="load-more-btn is-hidden">Хочу ще картинок</button>
<script src ="../js/onInputChange.js" type="module></script>

  </div>

  