<form class="search-form" id="search-form">
  <input class="search-input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Що шукаємо?..."
  />
  <button class="search-btn" type="submit">Поїхали!</button>
  </form>
  
<!-- <input type="checkbox" class="checkbox" id="checkbox" />
  <label for="checkbox" class="checkbox-wrapper">Змінити тему сторінки</label> -->


  <div class="container">
    <ul class="gallery"></ul>
      <!-- Картки зображень -->
    <button type="button" class="load-more-btn is-hidden">Хочу ще картинок</button>
    
  </div>


  <!-- <section class="gallery-section">
    <div class="container">
      <form class="search-form js-search-form">
        <input type="text" name="user_search_query" class="search-input" />
        <button type="submit" class="search-btn">search</button>
      </form>
      <ul class="gallery js-gallery list"></ul>
      <button type="button" class="load-more js-load-more is-hidden">Load more</button>
    </div>
  </section> -->
  